header img {
    width: 100px;
  }

  p {
    line-height: 1.5;
    background-color:palevioletred;
    font-size:60px;

  }

  main h1 {
    text-align: center;
    color:black;
    font-size: 70px;
    font-weight: 500;


  }
footer {
  text-align: center;
  background:pink;
  color:purple;
  line-height:100px
}


  ol li {
  color: blueviolet;
  padding: 5px;
  margin-left: 600px;
}

 h2 {
  text-align: center;
  color:red;
  font-size: 50px;
  font-weight: 100;

}

ul li {
  color:brown;
  margin-left: 600px;
  padding: 5px;
}
h3 {
  text-align: center;
  color:red;
  font-size: 50px;
  font-weight: 100;

}

  body {
    background-color:cornflowerblue;
  }
  img {
    float: center;
  }